@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);
/****** General *******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #cecece;
  border-radius: 8px;
}

body {
  background: var(--bg-color);
  min-height: 100vh;
  overflow-x: hidden;
}

.appContainer {
  position: relative;
  width: 100%;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

*:disabled {
  opacity: 0.7 !important;
  cursor: not-allowed !important;
}

/****** helpers *******/
.z-bg-primary {
  background-color: var(--primary);
}

.z-bg-secondary {
  background-color: var(--secondary);
}

.z-bg-success {
  background-color: var(--success);
}

.z-bg-warning {
  background-color: var(--warning);
}

.z-bg-danger {
  background-color: var(--danger);
}

.z-bg-info {
  background-color: var(--info);
}

.z-color-primary {
  color: var(--primary);
}

.z-color-secondary {
  color: var(--secondary);
}

.z-color-success {
  color: var(--success);
}

.z-color-warning {
  color: var(--warning);
}

.z-color-danger {
  color: var(--danger);
}

.z-color-info {
  color: var(--info);
}

.z-font-size-10 {
  font-size: 10px !important;
}

.z-font-size-11 {
  font-size: 11px !important;
}

.z-font-size-12 {
  font-size: 12px !important;
}

.z-font-size-13 {
  font-size: 13px !important;
}

.z-font-size-14 {
  font-size: 14px !important;
}

.z-font-size-15 {
  font-size: 15px !important;
}

.z-font-size-16 {
  font-size: 16px !important;
}

.z-font-size-17 {
  font-size: 17px !important;
}

.z-font-size-18 {
  font-size: 18px !important;
}

.z-font-size-20 {
  font-size: 20px !important;
}

.z-font-size-22 {
  font-size: 22px !important;
}

.z-font-size-24 {
  font-size: 24px !important;
}

.z-font-slim {
  font-weight: 300;
}

.z-font-regular {
  font-weight: 400;
}

.z-font-bold {
  font-weight: 600;
}

.z-font-extra-bold {
  font-weight: 800;
}

.z-font-italic {
  font-style: italic;
}

.z-font-underline {
  text-decoration: underline;
}

.z-text-center {
  text-align: center;
}

/****** Components *******/
.avatar-user {
  align-items: center;
  display: flex;
  font-weight: 500;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.avatar-user.circle {
  border-radius: 50% !important;
}

.avatar-user.square {
  border-radius: 8px !important;
}

.avatar-user.size-sm {
  width: 30px;
  height: 30px;
  font-size: 10px;
}

.avatar-user.size-md {
  width: 40px;
  height: 40px;
  font-size: 13px;
}

.avatar-user.size-lg {
  width: 50px;
  height: 50px;
  font-size: 16px;
}

.avatar-user.size-xl {
  width: 65px;
  height: 65px;
  font-size: 19px;
}

.z-badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 8px;
}

.z-badge.primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}

.z-badge.secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--white);
}

.z-badge.success {
  background-color: var(--success);
  border-color: var(--success);
  color: var(--white);
}

.z-badge.warning {
  background-color: var(--warning);
  border-color: var(--warning);
  color: var(--black);
}

.z-badge.danger {
  background-color: var(--danger);
  border-color: var(--danger);
  color: var(--white);
}

.z-badge.info {
  background-color: var(--info);
  border-color: var(--info);
  color: var(--white);
}

.z-button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  border: 0;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
}

.z-button.primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}

.z-button.primary.hover:hover:not(:disabled) {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
  color: var(--white);
}

.z-button.secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--white);
}

.z-button.secondary.hover:hover:not(:disabled) {
  background-color: var(--secondary-hover);
  border-color: var(--secondary-hover);
  color: var(--white);
}

.z-button.success {
  background-color: var(--success);
  border-color: var(--success);
  color: var(--white);
}

.z-button.success.hover:hover:not(:disabled) {
  background-color: var(--success-hover);
  border-color: var(--success-hover);
  color: var(--white);
}

.z-button.warning {
  background-color: var(--warning);
  border-color: var(--warning);
  color: var(--black);
}

.z-button.warning.hover:hover:not(:disabled) {
  background-color: var(--warning-hover);
  border-color: var(--warning-hover);
  color: var(--black);
}

.z-button.danger {
  background-color: var(--danger);
  border-color: var(--danger);
  color: var(--white);
}

.z-button.danger.hover:hover:not(:disabled) {
  background-color: var(--danger-hover);
  border-color: var(--danger-hover);
  color: var(--white);
}

.z-button.info {
  background-color: var(--info);
  border-color: var(--info);
  color: var(--white);
}

.z-button.info.hover:hover:not(:disabled) {
  background-color: var(--info-hover);
  border-color: var(--info-hover);
  color: var(--white);
}

.z-card {
  background-color: var(--light);
  box-shadow: 0 2px 8px var(--shadow), 0 0px 16px var(--shadow);
  border-radius: 8px;
  color: var(--dark);
  margin-bottom: 24px;
}

.z-card .z-card-header {
  padding: 15px 15px 0 15px;
}

.z-card .z-card-header * {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.z-card .z-card-body {
  padding: 15px;
  overflow: auto;
}

/* Card icon */
.z-card-body .z-card-icon {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  --ionicon-stroke-width: 50px;
}

/****** Main *******/
.appContainer {
  position: absolute;
  width: calc(100% - 215px);
  left: 215px;
  min-height: 100vh;
  transition: 0.5s;
}

.topbar {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background: var(--topbar-color);
  color: var(--topbar-text-color);
  box-shadow: 0 0.75rem 1.5rem var(--shadow);
}

.topbar div {
  display: flex;
  align-items: center;
}

.topbar .toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 35px;
  font-size: 1.75em;
  text-align: center;
  transition: transform 0.5s;
  color: var(--primary);
}

.topbar .toggle:hover {
  color: var(--primary-hover);
}

.topbar .breadcrumb ul {
  padding: 10px 10px;
  list-style: none;
}

.topbar .breadcrumb ul li {
  display: inline;
  font-size: 0.8rem;
  color: var(--topbar-text-muted);
}

.topbar .breadcrumb ul li:last-child {
  color: var(--topbar-text-color);
  font-weight: 500;
}

.topbar ul li + li:before {
  padding: 0 8px;
  content: ">";
  color: var(--topbar-text-muted);
}

.topbar .user {
  cursor: pointer;
  padding: 0 5px;
}

.topbar .settings {
  font-size: 1.4rem;
  color: var(--dark);
}

.topbar .settings .option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
}

/******* Menu collapsed *******/
.appContainer.collapsed {
  width: calc(100% - 60px);
  left: 60px;
}

.appContainer.collapsed .topbar .toggle {
  transform: rotate(180deg);
}

/****** App Content ******/
.appContainer .content {
  height: calc(100vh - 45px);
  width: 100%;
  padding: 25px;
  overflow: auto;
}

/** Form **/
.z-form-group {
  margin-bottom: 1rem;
}

/* General inputs */
.z-form-group label {
  display: inline-block;
  width: 100%;
  margin: 0 0 0.25rem 0.25rem;
}

.z-form-group input, .z-form-group select, .z-form-group textarea {
  display: block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  background: transparent;
  border: 1px solid var(--input-border);
  color: var(--dark);
  border-radius: 8px;
}

.z-form-group input[type=number]::-webkit-inner-spin-button,
.z-form-group input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.z-form-group textarea {
  resize: vertical;
}

.z-form-group input:focus, .z-form-group select:focus, .z-form-group textarea:focus {
  color: var(--dark);
  border-color: var(--input-focused);
  box-shadow: none;
  outline: none;
}

.z-form-group input:disabled, .z-form-group textarea:disabled, .z-form-group select:disabled, .z-form-group select:disabled option {
  background-color: var(--disabled);
  color: var(--dark);
  opacity: 0.7;
}

/* Checkbox */
.z-form-group .z-check {
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  margin: 0 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.z-form-group .z-check label {
  margin: 0;
}

.z-form-group .z-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.z-form-group .z-check input ~ span {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--input-secondary);
}

.z-form-group .z-check input[type=radio] ~ span {
  border-radius: 50%;
}

.z-form-group .z-check input[type=checkbox] ~ span {
  border-radius: 8px;
}

.z-form-group .z-check:hover input ~ span {
  background-color: var(--input-hover);
}

.z-form-group .z-check input:checked ~ span {
  background-color: var(--primary);
}

.z-form-group .z-check input:disabled ~ span {
  background-color: var(--disabled);
  opacity: 0.7;
  cursor: not-allowed;
}

.z-form-group .z-check span:after {
  content: "";
  position: absolute;
  display: none;
}

.z-form-group .z-check input:checked ~ span:after {
  display: block;
}

.z-form-group .z-check input[type=checkbox]:checked ~ span:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid var(--light);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.z-form-group .z-check input[type=radio]:checked ~ span:after {
  top: 5px;
  left: 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--light);
}

.z-modal, .z-modal::before {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: flex-start;
  visibility: hidden;
  opacity: 0;
}

.z-modal.z-modal-center {
  align-items: center;
}

.z-modal::before {
  content: "";
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
}

.z-modal.active, .z-modal.active::before {
  visibility: visible;
  opacity: 1;
}

.z-modal .z-modal-contentainer {
  z-index: 1;
  margin-top: 15px;
  background-color: var(--light);
  box-shadow: 0 2px 8px var(--shadow), 0 0px 16px var(--shadow);
  border-radius: 8px;
  color: var(--dark);
}

.z-modal.z-modal-lg .z-modal-contentainer {
  max-width: 800px;
  width: 100%;
}

.z-modal .z-modal-contentainer .z-modal-header {
  padding: 15px;
  box-shadow: 0 2px 8px var(--shadow), 0 0px 2px var(--shadow);
  display: flex;
  width: 100%;
}

.z-modal .z-modal-contentainer .z-modal-header h2 {
  width: calc(100% - 40px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.z-modal .z-modal-contentainer .z-modal-close {
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: var(--muted);
  width: 40px;
  cursor: pointer;
}

.z-modal .z-modal-contentainer .z-modal-body {
  padding: 15px;
  overflow: auto;
}

/****** Navigation *******/
.navContainer {
  position: fixed;
  width: 215px;
  height: 100%;
  background-color: var(--nav-bg-color);
  transition: 0.5s;
  overflow: hidden;
}

/****** TOP CONTAINER *******/
.navContainer .topContainer {
  position: relative;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navContainer .topContainer .logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
  max-width: 215px;
  max-height: 60px;
}

/****** NAVIGATION CONTAINER *******/
.navContainer ul {
  padding-left: 10px;
  margin-top: 20px;
  width: 100%;
}

.navContainer ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.navContainer ul li.active {
  background: var(--bg-color);
}

.navContainer ul li a {
  position: relative;
  height: 45px;
  width: 100%;
  display: block;
  text-decoration: none;
  display: flex;
  color: var(--nav-text-color);
  padding-left: 5px;
}

.navContainer ul li.active a {
  color: var(--nav-active-text-color);
}

.navContainer ul li a .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 35px;
  font-size: 1.5em;
  text-align: center;
}

.navContainer ul li a .title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 10px;
  white-space: nowrap;
  line-height: 50px;
  transition: opacity 0.5s;
}

.navContainer ul li.active a::before,
.navContainer ul li.active a::after {
  content: "";
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  pointer-events: none;
}

.navContainer ul li.active a::before {
  top: -50px;
  box-shadow: 30px 35px 0 10px var(--bg-color);
}

.navContainer ul li.active a::after {
  bottom: -50px;
  box-shadow: 50px -35px 0 10px var(--bg-color);
}

/******* MENU COLLAPSED *******/
.navContainer.collapsed {
  width: 60px;
}

.navContainer.collapsed ul li a .title {
  opacity: 0;
}

.navContainer.collapsed .topContainer .logo {
  opacity: 0;
}

/** Table **/
.z-table {
  background-color: var(--table-tbody-bg-color);
  color: var(--table-tbody-text-color);
  width: 100%;
  border-spacing: 0;
}

.z-table thead, .z-table thead tr {
  background: var(--table-thead-bg-color);
}

.z-table thead tr th {
  background: var(--table-thead-bg-color);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2px;
  white-space: nowrap;
  color: var(--table-thead-text-color);
  padding: 0.25rem;
  border: 0;
}

.z-table thead tr:last-child th:first-child {
  border: 2px solid var(--table-thead-bg-color);
  border-top-left-radius: 8px;
}

.z-table thead tr:last-child th:last-child {
  border: 2px solid var(--table-thead-bg-color);
  border-top-right-radius: 8px;
}

.z-table tbody tr td:first-child {
  border-left: 2px solid var(--table-thead-bg-color);
}

.z-table tbody tr td:last-child {
  border-right: 2px solid var(--table-thead-bg-color);
}

.z-table tbody tr:last-child td:first-child {
  border-left: 2px solid var(--table-thead-bg-color);
  border-bottom-left-radius: 8px;
}

.z-table tbody tr:last-child td:last-child {
  border-right: 2px solid var(--table-thead-bg-color);
  border-bottom-right-radius: 8px;
}

.z-table tbody tr:last-child td {
  border-bottom: 2px solid var(--table-thead-bg-color);
}

.z-table tbody.text-center {
  text-align: center;
}

.z-table tbody tr {
  width: 100%;
  margin: 0 auto;
  clear: both;
}

.z-table tbody tr td {
  border-bottom: 2px solid var(--table-thead-bg-color);
  vertical-align: middle;
  padding: 0.25rem;
}

.z-table tbody tr td.text-center {
  text-align: center;
}
