/****** General *******/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }
body{ 
    background: var(--white);
    min-height: 100vh;
    overflow-x: hidden; 
}

.appContainer {
    position: relative;
    width: 100%;
}


/****** Navigation *******/
.navContainer {
    position: fixed;
    width: 215px;
    height: 100%;
    background-color: var(--nav-color, var(--primary));
    transition: 0.5s;
    overflow:hidden;
}
    .navContainer .logoContainer{
        background: grey;
        height: 60px;
        width: 100%;
    }
    .navContainer ul{
        padding-left:10px;
        margin-top: 20px;
        width: 100%;
    }
        .navContainer ul li {
            position: relative;
            width: 100%;
            list-style: none;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .navContainer ul li.active{
            background: var(--white);
        }
        .navContainer ul li a{
            position: relative;
            height: 45px;
            width: 100%;
            display: block;
            text-decoration: none;
            display: flex;
            color: var(--white);
            padding-left: 5px;
        }
        .navContainer ul li.active a{
            color: var(--nav-color, var(--primary));
        }
        .navContainer ul li a .icon{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 35px;
            font-size: 1.5em;
            text-align: center;
            transition: 0.5s;
        }
        .navContainer ul li a .title {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 0 10px;
            white-space: nowrap;
            line-height: 50px;
            transition: 0.5s;
        }
        .navContainer ul li.active a::before,
        .navContainer ul li.active a::after {
            content: '';
            position: absolute;
            right: 0;
            width: 50px;
            height: 50px;
            border-radius: 10px;
            pointer-events: none;
        }
        .navContainer ul li.active a::before{
            top: -50px;
            box-shadow: 30px 35px 0 10px var(--white);
        }
        .navContainer ul li.active a::after{
            bottom: -50px;
            box-shadow: 50px -35px 0 10px var(--white);
        }

    /******* Menu collapsed *******/
    .navContainer.collapsed{
        width: 60px;
    }
        .navContainer.collapsed ul li a .title {
            color: transparent;
        }


/****** Main *******/
.appContainer{
    position: absolute;
    width: calc(100% - 215px);
    left: 215px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.topbar{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: var(--topbar-color, var(--white));
}
    .topbar .toggle{
        position: relative;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        cursor: pointer;
    }

    /******* Menu collapsed *******/
    .appContainer.collapsed{
        width: calc(100% - 60px);
        left: 60px;
    }


/****** Other Objects *******/
/* Avatar */
.avatar-user {
    font-size: 11px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    height: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 30px;
}
    .avatar-user.circle {
        border-radius: 50%!important;
    }
    .avatar-user.square {
        border-radius: 10px!important;
    }