:root{
    /* Custom colors */
    --primary: #4596ff;
    --primary-hover: #2f88fc;

    --secondary: #607d8b;
    --secondary-hover: #77919e;

    --muted: #607d8b;

    --white: #fff;
    --balck: #000;

    /* Components */
    /* --nav-color: #ff4949; */
}