:root{
    /* Custom colors */
    --primary: #4596ff;
    --primary-hover: #2f88fc;

    --secondary: #a3b9c4;
    --secondary-hover: #77919e;

    --muted: #607d8b;

    --white: #fff;
    --black: #000;

    --shadow: rgb(18 38 63 / 3%);

    /* Components */
    /* --nav-color: #ff4949; */
    /* --topbar-color: #ff4949; */
}