:root{
    /* Custom colors */
    --white: #fafafa;
    --black: #2a3042;

    --primary: #4596ff;
    --primary-hover: #2f88fc;

    --secondary: #a3b9c4;
    --secondary-hover: #77919e;

    --muted: #607d8b;

    --success: green;
    --success-hover: green;

    --danger: red;
    --danger-hover: red;

    --warning: yellow;
    --warning-hover: yellow;
    
    --info: blue;
    --info-hover: blue;

    --light: #fff;
    --light-hover: #fff;

    --dark: #000;
    --dark-hover: #000;

    --bg-color: #f8f7fd;
    --shadow: rgb(18 38 63 / 5%);

    /* Components */
    --nav-bg-color: var(--primary);
    --nav-color: var(--white);
    --nav-active-color: #2785dd;
    /* --topbar-color: #ff4949; */
}