:root{
    /* Custom dark colors */
    --white: #2a3042;
    --black: #dddddd;

    --primary: #4596ff;
    --primary-hover: #4cacfa;

    --secondary: #b0ddf3;
    --secondary-hover: #7ea3b6;

    --muted: #adadad;

    --bg-color: #222736;
    --shadow: rgb(0 22 50 / 5%);

    --nav-bg-color: #2785dd;
    --nav-color: var(--black);
    --nav-active-color: var(--black);
    
    /* --topbar-color: #ff4949; */
}