:root{
    /* Custom dark colors */
    --primary: #4596ff;
    --primary-hover: #4cacfa;

    --secondary: #b0ddf3;
    --secondary-hover: #7ea3b6;

    --muted: #adadad;

    --white: #24243e;
    --black: #dddddd;

    --bg-color: #221f3a;
    --shadow: rgb(205 190 253 / 5%);
}