.user-card .avatar{
    width: 75px;
}

.user-card .role{
    width: 75px;
    height: 24px;
}

.user-card .role div{
    width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-card .user-links a{
    line-height: 0;
}
.user-card .user-links{
    border-top: 1px solid var(--disabled);
}
.user-card .user-details a{
    white-space: nowrap;
}

.user-card .user-details h3, .user-card .user-details a{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#search-input{
    width: 300px;
}

#new-user-btn{
    white-space: nowrap;
}