/****** General *******/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;}
body{ 
    background: var(--bg-color);
    min-height: 100vh;
    overflow-x: hidden;
}

.appContainer {
    position: relative;
    width: 100%;
}
h1,h2,h3,h4 { font-weight: 500; }
h1{ font-size: 1.75rem; }
h2{ font-size: 1.5rem; }
h3{ font-size: 1.2rem; }
h4{ font-size: 1rem; }

/****** Coloring *******/
.z-primary{
    background-color: var(--primary)!important;
    border-color: var(--primary)!important;
    color: var(--white)!important;
}
.z-primary.hover:hover{
    background-color: var(--primary-hover)!important;
    border-color: var(--primary-hover)!important;
    color: var(--white)!important;
}

.z-secondary{
    background-color: var(--secondary)!important;
    border-color: var(--secondary)!important;
    color: var(--white)!important;
}
.z-secondary.hover:hover{
    background-color: var(--secondary-hover)!important;
    border-color: var(--secondary-hover)!important;
    color: var(--white)!important;
}

.z-success{
    background-color: var(--success)!important;
    border-color: var(--success)!important;
    color: var(--white)!important;
}
.z-success.hover:hover{
    background-color: var(--success-hover)!important;
    border-color: var(--success-hover)!important;
    color: var(--white)!important;
}

.z-warning{
    background-color: var(--warning)!important;
    border-color: var(--warning)!important;
    color: var(--black)!important;
}
.z-warning.hover:hover{
    background-color: var(--warning-hover)!important;
    border-color: var(--warning-hover)!important;
    color: var(--black)!important;
}

.z-danger{
    background-color: var(--danger)!important;
    border-color: var(--danger)!important;
    color: var(--white);
}
.z-danger.hover:hover{
    background-color: var(--danger-hover)!important;
    border-color: var(--danger-hover)!important;
    color: var(--white);
}

.z-info{
    background-color: var(--info)!important;
    border-color: var(--info)!important;
    color: var(--white)!important;
}
.z-info.hover:hover{
    background-color: var(--info-hover)!important;
    border-color: var(--info-hover)!important;
    color: var(--white)!important;
}

/****** Components *******/

@import "components/avatar";
@import "components/button";
@import "components/card";
@import "components/content";
@import "components/form";
@import "components/navigation";
@import "components/table";