$border_radius: 8px;

/****** General *******/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;}
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #cecece;
    border-radius: $border_radius;
}

body{ 
    background: var(--bg-color);
    min-height: 100vh;
    overflow-x: hidden;
}

.appContainer {
    position: relative;
    width: 100%;
}

h1,h2,h3,h4 { font-weight: 500; }
h1{ font-size: 1.75rem; }
h2{ font-size: 1.5rem; }
h3{ font-size: 1.2rem; }
h4{ font-size: 1rem; }

a{ cursor: pointer; text-decoration: none; color: var(--primary);}

ul{
    margin-left: 1.5rem;
}

*:disabled{
    opacity: 0.7!important;
    cursor: not-allowed!important;
}

ion-icon {
    pointer-events: none;
}

/****** helpers *******/
@import "helpers/coloring";
@import "helpers/fonts";

/****** Components *******/
@import "components/alert";
@import "components/avatar";
@import "components/badges";
@import "components/button";
@import "components/calendar";
@import "components/card";
@import "components/content";
@import "components/form";
@import "components/modal";
@import "components/navigation";
@import "components/table";
@import "components/timeline";