$border_radius: 8px;

/****** General *******/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;}
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #cecece;
    border-radius: $border_radius;
}

body{ 
    background: var(--bg-color);
    min-height: 100vh;
    overflow-x: hidden;
}

.appContainer {
    position: relative;
    width: 100%;
}

h1,h2,h3,h4 { font-weight: 500; }
h1{ font-size: 1.75rem; }
h2{ font-size: 1.5rem; }
h3{ font-size: 1.2rem; }
h4{ font-size: 1rem; }

*:disabled{
    opacity: 0.7!important;
    cursor: not-allowed!important;
}

/****** Coloring *******/
.z-primary{
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
}
.z-primary.hover:hover:not(:disabled){
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
    color: var(--white);
}

.z-secondary{
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--white);
}
.z-secondary.hover:hover:not(:disabled){
    background-color: var(--secondary-hover);
    border-color: var(--secondary-hover);
    color: var(--white);
}

.z-success{
    background-color: var(--success);
    border-color: var(--success);
    color: var(--white);
}
.z-success.hover:hover:not(:disabled){
    background-color: var(--success-hover);
    border-color: var(--success-hover);
    color: var(--white);
}

.z-warning{
    background-color: var(--warning);
    border-color: var(--warning);
    color: var(--black);
}
.z-warning.hover:hover:not(:disabled){
    background-color: var(--warning-hover);
    border-color: var(--warning-hover);
    color: var(--black);
}

.z-danger{
    background-color: var(--danger);
    border-color: var(--danger);
    color: var(--white);
}
.z-danger.hover:hover:not(:disabled){
    background-color: var(--danger-hover);
    border-color: var(--danger-hover);
    color: var(--white);
}

.z-info{
    background-color: var(--info);
    border-color: var(--info);
    color: var(--white);
}
.z-info.hover:hover:not(:disabled){
    background-color: var(--info-hover);
    border-color: var(--info-hover);
    color: var(--white);
}

/****** Components *******/

@import "components/avatar";
@import "components/button";
@import "components/card";
@import "components/content";
@import "components/form";
@import "components/navigation";
@import "components/table";