:root{
    /* Custom dark colors */
    --white: #fafafa;
    --black: #2a3042;

    --primary: #4596ff;
    --primary-light: #4596ff30;
    --primary-hover: #2f88fc;

    --secondary: #FF7A29;
    --secondary-light: #FF7A2930;
    --secondary-hover: #FF7A29;

    --muted: #607d8b;
    --disabled: #4d565f;

    --success: #008000;
    --success-light: #00800030;
    --success-hover: green;

    --danger: #dc3545;
    --danger-light: #dc354530;
    --danger-hover: #dc3545;

    --warning: #ffc107;
    --warning-light: #ffc10730;
    --warning-hover: #ffc107;
    
    --info: #17a2b8;
    --info-light: #17a2b830;
    --info-hover: #17a2b8;

    --dark: #e9e9e9;
    --dark-hover: #e9e9e9;

    --light: #343a40;
    --light-hover: #343a40;

    --bg-color: #222736;
    --shadow: rgb(18 38 63 / 5%);

/* Components */
    /** Navigation **/
    --nav-bg-color: var(--primary);
    --nav-text-color: var(--light);
    --nav-active-text-color: var(--nav-bg-color);
    --topbar-color: var(--light);
    --topbar-text-color: var(--dark);
    --topbar-text-muted: var(--muted);

    /** Table **/
    --table-thead-bg-color: var(--primary);
    --table-thead-text-color: var(--light);
    --table-tbody-bg-color: var(--light);
    --table-tbody-text-color: var(--dark);

    /** forms **/
    --input-border: #d7dbda;
    --input-focused: var(--primary);
    --input-secondary: #dfdfdf;
    --input-hover: #c7c7c7;

    /** Calendar **/
    --calendar-header-bg-color: var(--danger);
    --calendar-header-color: var(--white);

    --calendar-bg-color: var(--light);
    --calendar-color: var(--dark);

    --calendar-weekend-bg-color: #cecece30;
    --calendar-weekend-color: #999999;

    --calendar-today-bg-color: var(--success-light);
    --calendar-today-color: var(--white);
}