    .z-accordion .z-accordion-header{
        border-radius: $border_radius;
    }
        .z-accordion .z-accordion-header{
            position: relative;
            color: var(--dark);
            cursor: pointer;
            padding: 15px;
            width: 100%;
            text-align: left;
            outline: none;
            font-size: 15px;
            display: flex;
            justify-content: left;
            align-items: center;
            border:2px solid var(--primary-light);
            transition: 0.5s;
        }
            .z-accordion .z-accordion-header::after{
                content: "+";
                margin-left: auto;
                font-size: 20px;
                font-weight: 400;
                align-items: center;
            }
            .z-accordion.z-active .z-accordion-header::after{
                content: "-";
            }
        .z-accordion .z-accordion-body{
            display: none;
            transition: 0.5s;
        }
        .z-accordion.z-active .z-accordion-body{
            display: block;
            padding: 15px;
            border:2px solid var(--primary-light);
            border-top: 0;
            border-bottom-left-radius: $border_radius;
            border-bottom-right-radius: $border_radius;
        }
        .z-accordion.z-active .z-accordion-header{
            background-color: var(--primary-light);
            border:2px solid var(--primary-light);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

.z-accordion ~ .z-accordion{
    margin-top: 15px;
}