/** Form **/
.z-form-group{
    margin-bottom: 1rem;
}
    /* General inputs */
    .z-form-group label{
        display: inline-block;
        width: 100%;
        margin: 0 0 0.25rem 0.25rem;
    }
    .z-form-group input, .z-form-group select, .z-form-group textarea{
        display: block;
        width: 100%;
        padding: 0.25rem 0.5rem;
        background: transparent;
        border: 1px solid var(--input-border);
        color: var(--dark);
        border-radius: $border_radius;
    }
    .z-form-group input[type=number]::-webkit-inner-spin-button,
    .z-form-group input[type=number]::-webkit-outer-spin-button{
        -webkit-appearance: none; 
        margin: 0;
    }
    .z-form-group textarea{
        resize: vertical;
    }
    .z-form-group input:focus, .z-form-group select:focus, .z-form-group textarea:focus{
        color: var(--dark);
        border-color: var(--input-focused);
        box-shadow: none;
        outline: none;
    }
    
    .z-form-group input:disabled, .z-form-group textarea:disabled, .z-form-group select:disabled, .z-form-group select:disabled option{
      background-color: var(--disabled);
      color: var(--dark);
      opacity: 0.7;
    }
    /* Checkbox */
    .z-form-group .z-check {
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        margin: 0 5px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: fit-content;
      }
      .z-form-group .z-check label {
          margin: 0;
      }
      .z-form-group .z-check input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .z-form-group .z-check input ~ span{
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: var(--input-secondary);
      }
      .z-form-group .z-check input[type=radio] ~ span{
        border-radius: 50%;
      }
      .z-form-group .z-check input[type=checkbox] ~ span{
        border-radius: $border_radius;
      }
      .z-form-group .z-check:hover input ~ span {
        background-color: var(--input-hover);
      }
      .z-form-group .z-check input:checked ~ span {
        background-color: var(--primary);
      }
      .z-form-group .z-check input:disabled ~ span {
        background-color: var(--disabled);
        opacity: 0.7;
        cursor: not-allowed
      }
      .z-form-group .z-check span:after {
        content: "";
        position: absolute;
        display: none;
      }
      .z-form-group .z-check input:checked ~ span:after {
        display: block;
      }
      .z-form-group .z-check input[type=checkbox]:checked ~ span:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid var(--light);
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      .z-form-group .z-check input[type=radio]:checked ~ span:after {
        top: 5px;
        left: 5px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: var(--light);
      }
