
.z-bg-primary{
    background-color: var(--primary);
}
.z-bg-secondary{
    background-color: var(--secondary);
}
.z-bg-success{
    background-color: var(--success);
}
.z-bg-warning{
    background-color: var(--warning);
}
.z-bg-danger{
    background-color: var(--danger);
}
.z-bg-info{
    background-color: var(--info);
}

.z-color-primary{
    color: var(--primary);
}
.z-color-secondary{
    color: var(--secondary);
}
.z-color-success{
    color: var(--success);
}
.z-color-warning{
    color: var(--warning);
}
.z-color-danger{
    color: var(--danger);
}
.z-color-info{
    color: var(--info);
}
