
.z-font-size-10 {
    font-size: 10px !important;
}

.z-font-size-11 {
    font-size: 11px !important;
}

.z-font-size-12 {
    font-size: 12px !important;
}

.z-font-size-13 {
    font-size: 13px !important;
}

.z-font-size-14 {
    font-size: 14px !important;
}

.z-font-size-15 {
    font-size: 15px !important;
}

.z-font-size-16 {
    font-size: 16px !important;
}

.z-font-size-17 {
    font-size: 17px !important;
}

.z-font-size-18 {
    font-size: 18px !important;
}

.z-font-size-20 {
    font-size: 20px !important;
}

.z-font-size-22 {
    font-size: 22px !important;
}

.z-font-size-24 {
    font-size: 24px !important;
} 

.z-font-slim {
    font-weight: 300;
}

.z-font-regular {
    font-weight: 400;
}

.z-font-bold {
    font-weight: 600;
}

.z-font-extra-bold {
    font-weight: 800;
}

.z-font-italic {
    font-style: italic;
}

.z-font-underline {
    text-decoration: underline;
}

.z-text-center{
 text-align: center;
}